In [31]:
import pandas as pd
df1 = pd.read_csv('train_preprocess.tsv', sep='\t', header=None)
df1.head()

                                                   0         1
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung . t...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh . jadi mahasiswa jangan sombong dong . kas...  negative

In [32]:
df1.columns=['text', 'label']
df1.head()

                                                text     label
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung . t...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh . jadi mahasiswa jangan sombong dong . kas...  negative

In [ ]:
df1.shape

In [ ]:
df1.drop(df1.index[10999:11000], inplace=True)
df1.tail()

In [ ]:
df1.shape

In [ ]:
df1.to_csv('coba.tsv', sep = '\t',index= False)

In [ ]:
df1.head()

In [ ]:
df2=pd.read_csv('coba.tsv', sep='\t', header=None)
df2.head()

In [33]:
df2=df1[df1.label=='positive']
df2.head()

                                                text     label
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
2  lokasi strategis di jalan sumatera bandung . t...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
5  makanan beragam , harga makanan di food stall ...  positive
7  tempat unik , bagus buat foto , makanan enak ,...  positive

In [41]:
df2.shape

(6416, 2)

In [43]:
dfpositive=df2[:1100]
dfpositive.shape

(1100, 2)

In [35]:
df3=df1[df1.label=='negative']
df3.head()

                                                 text     label
4   duh . jadi mahasiswa jangan sombong dong . kas...  negative
6   pakai kartu kredit bca tidak untung malah rugi...  negative
10  simcard indosat inaktiv gara-gara lupa isi pul...  negative
11  sifat iri sering muncul pada orang orang yang ...  negative
13  pengalaman bersama indosat hari ini , semoga t...  negative

In [44]:
dfneg=df3[:1100]
dfneg.shape

(1100, 2)

In [42]:
df3.shape

(3436, 2)

In [40]:
df4=df1[df1.label=='neutral']
df4.head()

                                                 text    label
1   mohon ulama lurus dan k212 mmbri hujjah partai...  neutral
16  setiap bumn dibentuk dengan uu bukan dibentuk ...  neutral
28  pdip sebut ridwan kamil menang karena berbaju ...  neutral
32  08:30 : kedatangan presiden ri dan rombongan d...  neutral
37  risma menjatuhkan pilihan nya pada gus ipul - ...  neutral

In [39]:
print(df4.shape)

(1148, 2)

In [45]:
dfneu=df4
dfneu.shape

(1148, 2)

In [46]:
dff=pd.concat([dfpositive,dfneu,dfneg], ignore_index=True)
dff.head()

                                                text     label
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  lokasi strategis di jalan sumatera bandung . t...  positive
2  betapa bahagia nya diri ini saat unboxing pake...  positive
3  makanan beragam , harga makanan di food stall ...  positive
4  tempat unik , bagus buat foto , makanan enak ,...  positive

In [47]:
dff.shape

(3348, 2)

In [50]:
dff.to_csv('coba1.tsv', sep = '\t',index= False, header=False)

In [52]:
dft = pd.read_csv('coba1.tsv', sep = '\t', header=None)
dft.head()

                                                   0         1
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  lokasi strategis di jalan sumatera bandung . t...  positive
2  betapa bahagia nya diri ini saat unboxing pake...  positive
3  makanan beragam , harga makanan di food stall ...  positive
4  tempat unik , bagus buat foto , makanan enak ,...  positive

In [53]:
dft.shape

(3348, 2)